body {
  margin: 0;
}

.banner {
  background: #eceb98;
  text-align: center;
  padding: 0.5rem;
}

.banner > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.banner > div > span:first-child {
  width: 98%;
}

.banner > div > span:last-child {
  font-size: 24px;
  cursor: pointer;
}

.main-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
}

.main-menu > li:first-child {
  font-weight: bold;
}

.main-menu img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.search-area {
  position: relative;
  width: 30%;
  margin-right: 2rem;
}

.search-area > input {
  background: transparent;
  outline: 0;
  border: 1px solid black;
  border-radius: 21px;
  padding: 0.6rem;
  padding-left: 2rem;
  width: 100%;
}

.search-area > span {
  position: absolute;
  left: 9px;
  top: 10px;
}

ion-icon {
    font-size: 35px;
}
